<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <div class="container">
        <% if (user) { %>
            <p>Welcome, <%= user.username %>!</p>
            <a href="/log-out">Logout</a>
        <% } else { %>
            <a href="/log-in">Login</a> |
            <a href="/register">Register</a>
        <% } %>
        <% if (user && !user.ismember){ %>
            <button onclick=" window.location.href = '/new-member'">Do you want to become a member</button>
         <% } %>
        
        <h1>All Messages</h1>
        <ul class="message-list">
            <% messages.forEach(message => { %>
                <li class="message">
                    <% if (user && user.ismember) { %>
                    <strong><%= message.full_name %></strong> (@<%= message.username  %>)
                    <% } %>
                    <p><%= message.content %></p>
                    <p class="date"><%= new Date(message.created_at).toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
